<div class="container">
    <footer id="footer">
        <div class="footer-info">
            <div class="footer-links">
                <p class="lead">Links</p>
                <p><a href="#">Location</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Contact Us</a></p>
            </div>
            <div class="footer-subscribe">
                <p class="lead">Be in the know</p>
                <p>Promotions, new products and sales. Directly to your inbox.</p>

                <div class="subscribe">
                    <form action="">
                        <input type="email" name="email" placeholder="Your Email..." class="primary-input" />
                        <button type="submit" class="btn btn-primary">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Copyright &copy; 2020, Monstat</p>
        </div>
    </footer>
</div>