<header id="main-nav">
    <nav class="normal-screen-header">
        <div class="container">
            <a href="/shop/v1/"><img src="/img/montast.png" alt="logo" class="logo" /></a>
            <ul>
                <li><a href="#">Location</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <div class="cart text-primary">
                <a href="/shop/v1/cart">
                    <i class="fa fa-shopping-cart"></i>
                    Cart(<span id="items-in-cart">0</span>)
                </a>
            </div>
        </div>
    </nav>

    <nav class="mobile-header">
        <div class="container">
            <div class="search-cart-container">
                <div class="mobile-search">
                    <i class="fa fa-search"></i>
                </div>
                <div class="mobile-cart">
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </div>
            <div class="logo-container">
                <a href="/shop/v1/"><img src="/img/montast.png" alt="logo" class="logo" /></a>
            </div>

            <div class="mobile-links">
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Hoodies</a></li>
                    <li><a href="#">Round neck</a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Track-Pants</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>