<!-- Side menu and items panel -->
<div class="main-content">
    <aside id="side-menu">
        <ul>
            <li><a href="/shop/v1/" class="current">Home</a></li>
            <li><a href="/shop/v1/products?category=Hoddy">Hoodies</a></li>
            <li><a href="/shop/v1/products?category=Round-neck">Round neck</a></li>
            <li><a href="/shop/v1/products?category=T-shirt">T-Shirts</a></li>
            <li><a href="/shop/v1/products?category=Track-pant">Track-Pants</a></li>
            <li><a href="/shop/v1/products?category=Hat&category=Cap">Accessories</a></li>
        </ul>
    </aside>