<!-- Side menu and items panel -->
<div class="main-content">
    <aside id="side-menu">
        <ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="#">Hoodies</a></li>
            <li><a href="#">Round neck</a></li>
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Track-Pants</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
    </aside>