<div class="container">
    <section id="main-section">
        <!-- Search Area -->
        <div class="search-area">
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Search..." class="primary-input" />
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        {{> _sidemenu}}
        <!-- Items Section -->
        <section id="items-panel">
            <p class="items-heading">Featured categories</p>
            <div class="items-container">
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
                <div class="item">
                    <div class="item-img"></div>

                    <p class="item-desc">Kheleke - Round Neck</p>
                    <p class="item-price">M 179.95</p>
                </div>
            </div>
            <!-- Categories -->
            <div class="items-categories">
                <div class="category">
                    <p>Hoodies</p>
                </div>
                <div class="category">
                    <p>Hats</p>
                </div>
                <div class="category">
                    <p>Caps</p>
                </div>
                <div class="category">
                    <p>Track Pants</p>
                </div>
                <div class="category">
                    <p>Round Neck</p>
                </div>
                <div class="category">
                    <p>T-Shirts</p>
                </div>
            </div>
        </section>
</div>
</section>